

{% extends 'layout.html' %} {% load crispy_forms_tags %}  {% load static %} {% block content%}

<div class="cra mt-5 container">
    <h2>Bookings</h2>
</div> 

<table class="table-striped container mt-5">
    <tr>
        <th>Name</th>
        <th>Hotel</th>
        <th>No of People</th>
        <th>Booked Date</th>
        <th>Email</th>
        <th>Number</th>
        <th>Update Booking</th>
        <th>Delete Booking</th>
    </tr>
    {% for hotel in hotels %}
    <tr>
        <td> {{ hotel.name }}</td>
        <td> {{ hotel.hotel }}</td>
        <td> {{ hotel.no_Of_People }}</td>
        <td> {{ hotel.check_In_Date }}</td>
        <td> {{ hotel.email }}</td>
        <td> {{ hotel.number }}</td>
        <td> <a href="{% url 'hotel_update' hotel.pk  %}"><button class="btn btn-success">Update</button></a></td>
        <td> <a href="{% url 'hotel_delete' hotel.pk  %}"><button class="btn btn-success">Delete</button></a></td>
        
    </tr>
    {% endfor %}
</table>
  

{% endblock %}
