.admin-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 100px;
}

.admin-card > a {
  margin: 100px;
  margin-top: 0;
  margin-bottom: 0;
}

.admin-card a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.admin-card a:hover {
  /* transform: translateY(-20px); */
  transform: scale(1.1);
  transition: 0.5s;
}

.forb {
  width: 100%;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150%;
  height: 100%;
}

.sub-card img {
  height: 250px;
  width: 200px;
}

@media (max-width: 400px) {
  .admin-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .admin-card > a {
    margin-left: 85px;
  }
}
