<footer class="futar container mt-5 ">
        <div class="fut">

          <ul>
            <p class="lhead">Services</p>
            <li>Trip Ideas</li>
            <li>Bookings</li>
            <li>Quick Costumer Service</li>
          </ul>
        </div>

        <div class="fut">

          <ul class="cp">
            <p class="lhead">Contact us</p>
            <li><i class="ph fa fa-phone "></i>977-9812345678</li>
            <li><i class="em fa fa-envelope"></i>loremipsum@gmail.com</li>
            <li><i class="mr fa fa-map-marker"></i>Naya-Bazar, Pokhara, Kaski.</li>
          </ul>
        </div>

        <div class="fut">

          <ul class="inl">
            <p class="lhead">Find us on</p>
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fb fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="ig fa fa-instagram "></i></a></li>
            <li><a href="https://www.youtube.com/" target="_blank"><i class="yt fa fa-youtube "></i></a></li>
            <li><a href="https://www.tripadvisor.com/" target="_blank"><i class="ta fa fa-tripadvisor"></i></a></li>
          </ul>
        </div>
    </footer>