<nav class="navbar navbar-expand-md navbar-light bg-transparent">
  <a href="{% url 'home' %}" class="navbar-brand"><h1><span class="text-danger">T</span>ravello</h1></a>
  <button
    type="button"
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarCollapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse justify-content-between"
    id="navbarCollapse"
  >
    <div class="navbar-nav">
      <a href="{% url 'home' %}" class="nav-item nav-link active" id="mathi">Home</a>
      <a href="{% url 'discover' %}" class="nav-item nav-link">Discover</a>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
          >Services</a
        >
        <div class="dropdown-menu">
          <a href="{% url 'tourguides' %}" class="dropdown-item">Tour Guides</a>
          <a href="{% url 'allbookings' %}" class="dropdown-item">Book Now</a>
          <a href="#" class="dropdown-item"></a>
        </div>
      </div>
      
      
    </div>
    <!-- <form class="form-inline">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" />
        <div class="input-group-append">
          <button type="button" class="btn btn-danger">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form> -->
    <div class="navbar-nav">
      {% if user.is_staff %}
        <a href="{% url 'adminpanel' %}"><button type="submit" class="">Admin Panel</button></a>
      {% endif %}
    </div>
    <div class="navbar-nav">
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}"><button type="submit" class="">Logout</button></a>
      {% else %}
        <a href="{% url 'login' %}"><button type="submit" class="">Login</button></a>
        
      {% endif %}
      
    </div>
  </div>
</nav>
